@font-face { font-family: "isocpe"; src: url('/fonts/Isocpeur-Regular.ttf') format('truetype'); }

@font-face { font-family: "codeBold"; src: url('/fonts/CODE_Bold.otf') format('opentype'); }

@font-face { font-family: "liberation"; src: url('/fonts/LiberationSans-Regular.ttf') format('truetype'); }

/* line 3, ../../sass/layouts/index.sass */
* { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

/* line 12, ../../sass/layouts/index.sass */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }

/* line 15, ../../sass/layouts/index.sass */
.beta { border: 0; color: #bcd35f; position: absolute; top: 46px; }

/* line 21, ../../sass/layouts/index.sass */
.checkbox.inline { margin-left: 0 !important; margin-right: 10px; }

/* line 25, ../../sass/layouts/index.sass */
.menu { font-family: "isocpe"; font-weight: bold; font-size: 18px; padding-left: 4px; padding-right: 4px; }

/* line 34, ../../sass/layouts/index.sass */
.menu_icono { padding-top: 10px; background-color: rgba(0, 0, 0, 0.6); }

/* line 38, ../../sass/layouts/index.sass */
.nav > li > a:hover, .nav > li > a:focus { background-color: rgba(0, 0, 0, 0.8); }

/* line 42, ../../sass/layouts/index.sass */
.username { font-family: "isocpe"; font-size: 18px; font-weight: bold; margin-right: 20px; padding-top: 10px; }

/* line 52, ../../sass/layouts/index.sass */
#menu_superior { margin-left: 20px; background-color: rgba(255, 255, 255, 0.9); height: 50px; }

/* line 57, ../../sass/layouts/index.sass */
#menu_superior_derecha { background-color: rgba(255, 255, 255, 0.9); height: 50px; }

/* line 61, ../../sass/layouts/index.sass */
#menu_superior_derecha_verde { color: #7a9900; font-size: 14px; }
