/* line 3, ../../sass/_autocomplete.sass */
.tt-hint { display: none; }

/* line 6, ../../sass/_autocomplete.sass */
.tt-query { background-color: white !important; }

/* line 9, ../../sass/_autocomplete.sass */
.twitter-typeahead { vertical-align: middle; width: 100%; }
