/* line 1, ../../sass/_text.sass */
.capitalize { text-transform: capitalize; }

/* line 3, ../../sass/events/add.sass */
.categoriaLink { cursor: pointer; }

/* line 6, ../../sass/events/add.sass */
.dateField { width: 20%; }

/* line 9, ../../sass/events/add.sass */
.highlight { background-color: #dfdfdf; }

/* line 15, ../../sass/events/add.sass */
.tt-hint { display: none; }

/* line 18, ../../sass/events/add.sass */
.textbox { width: 100%; width: -moz-available; }

/* line 22, ../../sass/events/add.sass */
.twitter-typeahead { width: 100%; }

/* line 25, ../../sass/events/add.sass */
select { max-width: 100%; }
/* line 28, ../../sass/events/add.sass */
select[name*="month"] { min-width: 100px; }
/* line 31, ../../sass/events/add.sass */
select[name*="year"] { min-width: 65px; }

/* line 34, ../../sass/events/add.sass */
#alertMessage { display: none; float: right; }

/* line 38, ../../sass/events/add.sass */
#label_simple { font-weight: normal; }

/* line 41, ../../sass/events/add.sass */
#map img { max-width: none; }
