/* line 1, ../../sass/events/add.sass */
#map img { max-width: none; }

/* line 4, ../../sass/events/add.sass */
.date { width: 15%; }

/* line 7, ../../sass/events/add.sass */
select { max-width: 100%; }
/* line 10, ../../sass/events/add.sass */
select[name*="month"] { min-width: 100px; }
/* line 13, ../../sass/events/add.sass */
select[name*="year"] { min-width: 65px; }

/* line 16, ../../sass/events/add.sass */
.textbox { width: 100%; width: -moz-available; }
