@import fonts

$blanco: #FFFFFF
$verde_beta:#BCD35F
$verde_oscuro: #7A9900

#menu_superior
	margin-left: 20px
	background-color: rgba(255, 255, 255, 0.9)
	height: 50px
	
#menu_superior_derecha
	background-color: rgba(255, 255, 255, 0.9)
	height: 50px

#menu_superior_derecha_verde
	color: $verde_oscuro
	font:
		size: 14px

.nav > li > a:hover, .nav > li > a:focus
	background-color: $blanco
 
.beta
	border: 0
	color: $verde_beta
	position: absolute
	top: 46px

body
	padding-top: 80px

.checkbox.inline
	margin-left: 0 !important
	margin-right: 10px

.menu
	font:
		family: 'isocpe'
		weight: bold
		size: 18px
	padding:
		left: 4px
		right: 4px

.menu_icono
	padding-top: 10px
	background-color: rgba(255, 255, 255, 0.95)

.username
	font:
		family: 'isocpe'
		size: 18px
		weight: bold
	margin:
		right: 20px
	padding:
		top: 10px

// #map
	// height: 400px
	// margin-bottom: 20px
	// width: 100%