$verde_beta:#BCD35F
 
.beta
	border: 0
	color: $verde_beta
	position: absolute
	top: 46px

body
	padding-top: 80px

.checkbox.inline
	margin-left: 0 !important
	margin-right: 10px

.menu_icono
	padding-top: 10px

.username
	font:
		family: 'isocpe'
		size: 18px
		weight: bold
	margin:
		right: 20px
	padding:
		top: 10px

#map
	height: 400px
	margin-bottom: 20px
	width: 100%