@font-face { font-family: "isocpe"; src: url(Isocpeur-Regular.ttf) format("truetype"); }

@font-face { font-family: "codeBold"; src: url(CODE_Bold.otf) format("opentype"); }

@font-face { font-family: "liberation"; src: url(LiberationSans-Regular.ttf) format("truetype"); }

/* line 20, ../sass/inicio.sass */
#map img { max-width: none; }

/* line 23, ../sass/inicio.sass */
#map { height: 470px; }

/* line 26, ../sass/inicio.sass */
body { font-family: "liberation"; font-size: 14px; }

/* line 31, ../sass/inicio.sass */
ul.nav { height: 55px; }

/* line 34, ../sass/inicio.sass */
.btn { font-family: "isocpe"; font-size: 16px; font-weight: bold; }

/* line 40, ../sass/inicio.sass */
.btn-verde { color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #7a9900; *background-color: #7a9900; background-image: -moz-linear-gradient(top, #c7e64d, #7a9900); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c7e64d), to(#7a9900)); background-image: -webkit-linear-gradient(top, #c7e64d, #7a9900); background-image: -o-linear-gradient(top, #c7e64d, #7a9900); background-image: linear-gradient(to bottom, #c7e64d, #7a9900); background-repeat: repeat-x; border-color: #7a9900; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$verde_claro', endColorstr='$verde_oscuro', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }

/* line 56, ../sass/inicio.sass */
.btn-verde:hover, .btn-verde:active, .btn-verde.active, .btn-verde.disabled, .btn-verde[disabled] { color: white; background-color: #7a9900; *background-color: #c7e64d; }

/* line 65, ../sass/inicio.sass */
.icono-categoria { padding: 2px; }

/* line 68, ../sass/inicio.sass */
.label_categoria { background-color: #e7d785; background-image: linear-gradient(to bottom, #fffeb8, #c49c38); background-repeat: repeat-x; border-bottom-color: rgba(0, 0, 0, 0.25); border-left-color-ltr-source: physical; border-left-color-rtl-source: physical; border-left-color-value: rgba(0, 0, 0, 0.1); border-right-color-ltr-source: physical; border-right-color-rtl-source: physical; border-right-color-value: rgba(0, 0, 0, 0.1); border-top-color: rgba(0, 0, 0, 0.1); color: white; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

/* line 83, ../sass/inicio.sass */
.menu { font-family: "isocpe"; font-weight: bold; font-size: 18px; }

/* line 89, ../sass/inicio.sass */
.navbar .btn, .navbar .btn-group { margin-top: 10px; }

/* line 92, ../sass/inicio.sass */
.navbar .nav > li > a.menu { height: 33px; padding-bottom: 5px; padding-top: 18px; }

/* line 98, ../sass/inicio.sass */
.navbar .nav > li > a.menu-brand { font-size: 20px; height: 35px; padding-bottom: 5px; padding-top: 5px; }

/* line 106, ../sass/inicio.sass */
.navbar .navbar-inner { height: 55px; background-color: white; background-image: -moz-linear-gradient(top, white, white); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white)); background-image: -webkit-linear-gradient(top, white, white); background-image: -o-linear-gradient(top, white, white); background-image: linear-gradient(to bottom, #ffffff, #ffffff); background-repeat: repeat-x; border: 1px solid #d4d4d4; }

/* line 117, ../sass/inicio.sass */
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
