@font-face { font-family: "isocpe"; src: url('/fonts/Isocpeur-Regular.ttf') format('truetype'); }

@font-face { font-family: "codeBold"; src: url('/fonts/CODE_Bold.otf') format('opentype'); }

@font-face { font-family: "liberation"; src: url('/fonts/LiberationSans-Regular.ttf') format('truetype'); }

@font-face { font-family: "greyscale"; src: url('/fonts/Greyscale_Basic_Regular.ttf') format('truetype'); }

@font-face { font-family: "fredoka"; src: url('/fonts/FredokaOne-Regular.ttf') format('truetype'); }

/* line 5, ../../sass/users/add.sass */
.gender label { display: inline-block; margin-right: 10px; }

/* line 9, ../../sass/users/add.sass */
.gender input[type="radio"] { margin: 0; margin-right: 2px; }

/* line 13, ../../sass/users/add.sass */
.resaltado { background-color: #ddf094; color: white; font-family: "codeBold"; font-size: 20px; padding-bottom: 2px; padding-top: 2px; }
