$background-black: transparentize(#000000, 0.4) 
$background-black-hover: transparentize(#000000, 0.5) 

$black: #000000
$blanco: #FFFFFF
$blue: #428BCA
$orange: #FFCC00
$verde: #DDF094
$gris: #F8F8F8
$gris_oscuro: #333333

$verde_claro: #BDDA4D
$verde_fluo: #ABD402
$verde_oscuro: #AACF19


$verde_beta: #BCD35F
$verde_oscuro_beta: #7A9900
