$background_black: transparentize(#000000, 0.4) 
$background_black_hover: transparentize(#000000, 0.2) 

$blanco: #FFFFFF
$blue: #428BCA
$verde: #DDF094
$gris: #F8F8F8

$verde_claro: #BDDA4D
$verde_oscuro: #AACF19


$verde_beta: #BCD35F
$verde_oscuro_beta: #7A9900
