@import colors, compass/css3, fonts

$gris: #D4D4D4
$verde: #A1CA00

#btn-radea
	padding:
		bottom: 8px
		top: 8px
	left: 20px

#map img
	max-width: none
	
#map
	height: 470px

body
	font:
		family: 'liberation'
		size: 14px

.btn
	font:
		family: 'isocpe'
		size: 16px
		weight: bold

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
	background-color: $orange

.btn-verde
	color: #ffffff
	background-color: $verde_claro
	border-color: $verde_oscuro

.btn-verde-simple
	background: none
	color: #ffffff
	padding:
		right: 8px
		left: 8px

.btn-verde:hover,
.btn-verde:focus,
.btn-verde:active,
.btn-verde.active,
.open .dropdown-toggle.btn-verde
	color: #ffffff
	background-color: $verde_oscuro
	border-color: $verde_oscuro

.btn-verde-simple:hover,
.btn-verde-simple:focus,
.btn-verde-simple:active,
.btn-verde-simple.active,
.open .dropdown-toggle.btn-verde-simple
	color: $verde-fluo
	text-decoration: underline

.btn-verde:active,
.btn-verde.active,
.open .dropdown-toggle.btn-verde
	background-image: none

.btn-verde-simple:active,
.btn-verde-simple.active,
.open .dropdown-toggle.btn-verde-simple
	color: $verde-fluo
	text-decoration: underline

.btn-verde.disabled,
.btn-verde[disabled],
fieldset[disabled] .btn-verde,
.btn-verde.disabled:hover,
.btn-verde[disabled]:hover,
fieldset[disabled] .btn-verde:hover,
.btn-verde.disabled:focus,
.btn-verde[disabled]:focus,
fieldset[disabled] .btn-verde:focus,
.btn-verde.disabled:active,
.btn-verde[disabled]:active,
fieldset[disabled] .btn-verde:active,
.btn-verde.disabled.active,
.btn-verde[disabled].active,
fieldset[disabled] .btn-verde.active
	background-color: $verde_claro
	border-color: $verde_claro

.btn-verde-simple.disabled,
.btn-verde-simple[disabled],
fieldset[disabled] .btn-verde-simple,
.btn-verde-simple.disabled:hover,
.btn-verde-simple[disabled]:hover,
fieldset[disabled] .btn-verde-simple:hover,
.btn-verde-simple.disabled:focus,
.btn-verde-simple[disabled]:focus,
fieldset[disabled] .btn-verde-simple:focus,
.btn-verde-simple.disabled:active,
.btn-verde-simple[disabled]:active,
fieldset[disabled] .btn-verde-simple:active,
.btn-verde-simple.disabled.active,
.btn-verde-simple[disabled].active,
fieldset[disabled] .btn-verde-simple.active
	color: $verde-fluo
	text-decoration: underline

.icono-categoria
	padding: 2px

.label_categoria
	background-color: #E7D785
	background-image: linear-gradient(to bottom, #FFFEB8, #C49C38)
	background-repeat: repeat-x
	border-bottom-color: rgba(0, 0, 0, 0.25)
	border-left-color-ltr-source: physical
	border-left-color-rtl-source: physical
	border-left-color-value: rgba(0, 0, 0, 0.1)
	border-right-color-ltr-source: physical
	border-right-color-rtl-source: physical
	border-right-color-value: rgba(0, 0, 0, 0.1)
	border-top-color: rgba(0, 0, 0, 0.1)
	color: #FFFFFF
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
		
.navbar .nav > li > a.menu
	height: 33px
	padding:
		bottom: 5px
		top: 42px
	
.navbar .nav > li > a.menu-brand
	font:
		size: 20px
	height: 35px
	padding:
		bottom: 5px
		top: 5px

.titulo
	color: $verde
	font:
		family: 'codebold'
	padding:
		top: 15px