@import colors, text

input[type=checkbox].checkbox
	display: inline-block
	margin: 0
	visibility: hidden

label.category
	cursor: pointer

.categoriaLink
	cursor: pointer

.dateField
	width: 20%
	
.highlight
	background-color: darken($gris, 10%)

// .tt-dropdown-menu
	// margin-top: 30px

.tt-hint
	display: none

.textbox
	width: 100%
	width: -moz-available

.twitter-typeahead
	width: 100%

select
	max-width: 100%

	&[name*="month"]
		min-width: 100px
	
	&[name*="year"]
		min-width: 65px

#alertMessage
	display: none
	float: right

#label_simple
	font-weight: normal

#map img
	max-width: none