@import colors, fonts, scroll

*
	// Disable selection
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
	display: none !important

a
	cursor: pointer

button.close.sponsor
	float: left

html, body
	height: 100%
	overflow: hidden

nav
	position: absolute
	top: 0
	z-index: 1

ul.rating
	display: inline-block

.arrow, .arrow:hover
	// background-color: $background-black
	border: none
	color: $verde_beta
	
// .arrow:hover
	// background-color: $background-black-hover

.arrow-sponsor
	float: left

.arrow-south
	display: inline-block

.arrow-category
	background-color: $background-black
	display: inline-block
	// float: right
	vertical-align: top

.background-white
	background-color: $blanco

.background-black
	background-color: $background-black

.color-white
	color: $blanco

.beta
	border: 0
	color: $verde_beta
	position: absolute
	top: 46px

.categoriaLink
	cursor: pointer

.checkbox.inline
	margin-left: 0 !important
	margin-right: 10px

.display-inline
	display: inline-block
	vertical-align: top

.highlight
	background-color: darken($gris, 10%)
	color: $black

.category-icon
	line-height: 30px
	text-align: center
	
.item-categoria
	height: 30px
	line-height: 30px
	display: inline-block
	vertical-align: middle
	padding-left: 3px

.locationBar
	min-width: 285px
	padding: 5px
	width: 285px

.menu
	font:
		family: 'isocpe'
		weight: bold
		size: 18px
	padding:
		left: 4px
		right: 4px
		top: 2px

.menu_icono
	padding-top: 10px
	background-color: $background-black

.modal-body
	overflow-y: auto
	padding-top: 0

.modal-header
	border-bottom: none

.nav > li > a:hover, .nav > li > a:focus
	// background-color: $blanco
	background-color: $background-black-hover

.rating
	color: #a9a9a9
	margin: 0
	padding: 0

.rating li
	list-style-type: none
	display: inline-block
	padding: 1px
	text-align: center
	font-weight: bold

.rating .filled
	color: #21568b

.star
	cursor: pointer
	
	&.not-allowed
		cursor: not-allowed !important

.username
	font:
		family: 'isocpe'
		size: 18px
		weight: bold
	margin:
		right: 20px
	padding:
		top: 10px

#categoriesContainer
	display: inline-block
	min-width: 255px
	padding-top: 5px
	padding-right: 5px
	// width: 90%

#categoryScroll
	// height: 490px
	// min-height: 350px
	overflow-y: auto
	overflow-x: hidden
	
	& > div
		margin: 0
		width: 100%

#contactAndAbout, #social
	margin-left: 40px

// TODO: Borrar
#eventsList
	color: black

#eventViewModal
	overflow: hidden

#east, #logo, #north, #south, #west
	position: absolute
	z-index: 1

#east
	left: 0
	// min-width: 255px
	// top: 10%
	top: 90px
	// width: 20%
	
	div[class="input-group"]
		max-width: 350px
	
	input
		text-transform: capitalize

#logo
	background-color: $background-black
	padding: 15px

#map
	height: 104%
	left: 0
	top: 0
	position: absolute
	width: 100%
	z-index: 0

#menu_superior
	margin-left: 20px
	background-color: rgba(255, 255, 255, 0.9)
	height: 50px
	
#menu_superior_derecha
	background-color: rgba(255, 255, 255, 0.9)
	height: 50px

#menu_superior_derecha_verde
	color: $verde_oscuro_beta
	font:
		size: 14px

#nav-large
	.icon-minus
		color: $blue
		cursor: pointer
 
#nav-small 
	min-height: 20px
	+opacity(0.8)

	.icon-plus
		font-size: 12px
		cursor: pointer

	& a
		padding: 10px

#north
	background-color: $background-black
	color: $blanco
	padding: 12px
	right: 0
	
	a
		color: $blanco
		text-decoration: none

#south
	bottom: 0
	left: 20%
	width: 60%
	padding: 0 10px
	

#sponsorContainer
	margin-left: 5%
	min-width: 245px
	padding-top: 5px
	padding-left: 5px
	width: 90%

#view
	background: #ffffff
	height: 50%
	left: 25%
	position: absolute
	top: 20%
	width: 50%
	z-index: 1
	
	ng-view
		display: block
		height: 90%
		overflow-y: auto
	
	#viewTitle
		height: 10%
		
	
#west
	background-color: $background-black
	padding: 5px 0
	right: 0
	top: 60px
	// min-width: 255px
	// top: 10%
	// width: 20%
