@import compass/css3

$blanco: #FFFFFF
$blue: #428BCA
$verde: #DDF094
$gris: #F8F8F8

html, body
	height: 100%
	overflow: hidden

nav
	position: absolute
	top: 0
	z-index: 1

.display-inline
	display: inline-block
	vertical-align: top

.background-white
	background-color: $blanco

.categoriaLink
	cursor: pointer

.highlight
	background-color: darken($gris, 10%)
	
.item-categoria
	height: 30px
	line-height: 30px
	display: inline-block
	vertical-align: middle
	padding-left: 3px

.menu
	padding-top: 2px
	

#nav-large
	.icon-minus
		color: $blue
		cursor: pointer

 
#nav-small 
	min-height: 20px
	+opacity(0.8)

	.icon-plus
		font-size: 12px
		cursor: pointer

	& a
		padding: 10px

#east, #west, #south
	position: absolute
	z-index: 1

#east
	left: 0
	top: 10%

#map
	height: 100%
	left: 0
	top: 0
	position: absolute
	width: 100%
	z-index: 0

#south
	left: 0
	bottom: 0
	width: 100%

#west
	right: 0
	top: 10%
