$blanco: #FFFFFF
$verde: #A1CA00

li
	text-align: justify

p
	text-align: justify
	
.resaltado
	background:
		color: $verde
	color: $blanco
	font:
		family: 'isocpe'
		size: 20px
	padding:
		bottom: 2px
		top: 2px

