/* line 4, ../../sass/pages/about.sass */
li { text-align: justify; }

/* line 7, ../../sass/pages/about.sass */
p { text-align: justify; }

/* line 10, ../../sass/pages/about.sass */
.resaltado { background-color: #a1ca00; color: white; font-family: "isocpe"; font-size: 20px; padding: 5px 0 2px 5px; padding: 0.5rem 0 0.2rem 0.5rem; }

/* line 21, ../../sass/pages/about.sass */
.sponsor { margin-bottom: 14px; margin-bottom: 1.4rem; }
/* line 25, ../../sass/pages/about.sass */
.sponsor img { padding: 1px; padding: 0.1rem; }
