@font-face { font-family: "codebold"; src: url(CODE_Bold.otf); }

/* line 9, ../../sass/pages/contact.sass */
label { font-family: "liberation"; font-size: 14px; }

/* line 14, ../../sass/pages/contact.sass */
input { font-family: "liberation"; }

/* line 18, ../../sass/pages/contact.sass */
textarea { font-family: "liberation"; font-size: 14px; }

/* line 23, ../../sass/pages/contact.sass */
.boton { margin-left: -14px; }

/* line 26, ../../sass/pages/contact.sass */
.contacto { padding-bottom: 20px; }

/* line 29, ../../sass/pages/contact.sass */
.formulario { font-family: "isocpe"; font-size: 18px; }
