@import colors, fonts

// $verde: #A1CA00

.gender label
	display: inline-block
	margin-right: 10px
	
.gender input[type="radio"]
	margin: 0
	margin-right: 2px
		
.resaltado
	background:
		color: $verde
	color: $blanco
	font:
		family: 'codeBold'
		size: 20px
	padding:
		bottom: 2px
		top: 2px
