/* line 4, ../../sass/places/add.sass */
select { max-width: 100%; }
/* line 7, ../../sass/places/add.sass */
select[name*="month"] { min-width: 100px; }
/* line 10, ../../sass/places/add.sass */
select[name*="year"] { min-width: 65px; }

/* line 13, ../../sass/places/add.sass */
.accessibility-checkbox { border: 1px solid #c5c5c5; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; cursor: pointer; display: inline-block; height: 20px; text-align: center; width: 20px; }

/* line 22, ../../sass/places/add.sass */
.categoriaLink { cursor: pointer; }

/* line 25, ../../sass/places/add.sass */
.classification { height: 20px; width: 20px; }

/* line 29, ../../sass/places/add.sass */
.dateField { width: 20%; }

/* line 32, ../../sass/places/add.sass */
.highlight { background-color: #dfdfdf; }

/* line 35, ../../sass/places/add.sass */
.textbox { width: 100%; width: -moz-available; }

/* line 39, ../../sass/places/add.sass */
#alertMessage { display: none; float: right; }

/* line 43, ../../sass/places/add.sass */
#label_simple { font-weight: normal; }

/* line 46, ../../sass/places/add.sass */
#map img { max-width: none; }
