/* line 1, /datos/Documentos/Colectivo Libre/radar cultural/workspace/radar/app/webroot/sass/places/_common.sass */
.classification { height: 20px; margin-top: 5px; width: 20px; }
/* line 6, /datos/Documentos/Colectivo Libre/radar cultural/workspace/radar/app/webroot/sass/places/_common.sass */
.classification.classification-center { margin: auto; }
