@font-face { font-family: "isocpe"; src: url('/fonts/Isocpeur-Regular.ttf') format('truetype'); }

@font-face { font-family: "codeBold"; src: url('/fonts/CODE_Bold.otf') format('opentype'); }

@font-face { font-family: "liberation"; src: url('/fonts/LiberationSans-Regular.ttf') format('truetype'); }

@font-face { font-family: "greyscale"; src: url('/fonts/Greyscale_Basic_Regular.ttf') format('truetype'); }

/* line 1, /datos/Documentos/Colectivo Libre/radar cultural/workspace/radar/app/webroot/sass/_scroll.sass */
::-webkit-scrollbar { width: 10px; }

/* Track */
/* line 5, /datos/Documentos/Colectivo Libre/radar cultural/workspace/radar/app/webroot/sass/_scroll.sass */
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); -webkit-border-radius: 10px; border-radius: 10px; }

/* Handle */
/* line 11, /datos/Documentos/Colectivo Libre/radar cultural/workspace/radar/app/webroot/sass/_scroll.sass */
::-webkit-scrollbar-thumb { -webkit-border-radius: 10px; border-radius: 10px; background: #6aa3d5; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

/* line 17, /datos/Documentos/Colectivo Libre/radar cultural/workspace/radar/app/webroot/sass/_scroll.sass */
::-webkit-scrollbar-thumb:window-inactive { background: #b9d4ec; }

/* line 3, ../../sass/places/index.sass */
* { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

/* line 12, ../../sass/places/index.sass */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }

/* line 15, ../../sass/places/index.sass */
a { cursor: pointer; font-family: "isocpe"; font-size: 16px; font-weight: bold; }

/* line 23, ../../sass/places/index.sass */
input { -webkit-touch-callout: text; -webkit-user-select: text; -khtml-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; }

/* line 32, ../../sass/places/index.sass */
button.close.sponsor { float: left; }

/* line 35, ../../sass/places/index.sass */
html, body { height: 100%; overflow: hidden; }

/* line 39, ../../sass/places/index.sass */
nav { position: absolute; top: 0; z-index: 1; }

/* line 44, ../../sass/places/index.sass */
ul.rating { display: inline-block; }

/* line 47, ../../sass/places/index.sass */
.arrow, .arrow:hover { border: none; color: #bcd35f; }

/* line 55, ../../sass/places/index.sass */
.arrow-sponsor { float: left; height: 27px; }

/* line 59, ../../sass/places/index.sass */
.arrow-south { background-color: rgba(0, 0, 0, 0.6); display: inline-block; margin-top: 7px; position: relative; width: 27px; z-index: 0; }

/*	display: inline-block */
/* line 71, ../../sass/places/index.sass */
.arrow-category { background-color: rgba(0, 0, 0, 0.6); display: inline-block; margin-top: 0px; vertical-align: top; height: 27px; }

/* line 79, ../../sass/places/index.sass */
.background-white { background-color: white; }

/* line 82, ../../sass/places/index.sass */
.background-black { background-color: rgba(0, 0, 0, 0.6); }

/* line 85, ../../sass/places/index.sass */
.color-white { color: white; }

/* line 88, ../../sass/places/index.sass */
.beta { border: 0; color: #bcd35f; position: absolute; top: 46px; }

/* line 94, ../../sass/places/index.sass */
.category-icon { line-height: 30px; text-align: center; }

/* line 98, ../../sass/places/index.sass */
.categoriaLink { cursor: pointer; }

/* line 101, ../../sass/places/index.sass */
.checkbox.inline { margin-left: 0 !important; margin-right: 10px; }

/* line 105, ../../sass/places/index.sass */
.classification { height: 20px; margin-top: 5px; width: 20px; }

/* line 110, ../../sass/places/index.sass */
.display-inline { display: inline-block; vertical-align: top; }

/* line 114, ../../sass/places/index.sass */
.highlight { background-color: #dfdfdf; color: black; }

/* line 118, ../../sass/places/index.sass */
.item-categoria { height: 30px; line-height: 30px; display: inline-block; vertical-align: middle; padding-left: 10px; }

/* line 125, ../../sass/places/index.sass */
.locationBar { min-width: 285px; padding: 5px; width: 285px; }

/* line 130, ../../sass/places/index.sass */
.menu { font-family: "isocpe"; font-weight: bold; font-size: 18px; padding-left: 4px; padding-right: 4px; padding-top: 2px; }

/* line 140, ../../sass/places/index.sass */
.menu_icono { padding-top: 10px; background-color: rgba(0, 0, 0, 0.6); }

/* line 144, ../../sass/places/index.sass */
.menu-centro { padding-left: 350px; }

/* line 147, ../../sass/places/index.sass */
.menu-centro-sm { padding-left: 240px; }

/* line 150, ../../sass/places/index.sass */
.menu-south { border-bottom-color: rgba(0, 0, 0, 0.6); border-bottom-style: solid; border-bottom-width: 8px; }

/* line 156, ../../sass/places/index.sass */
.modal-body { overflow-y: auto; padding-top: 0; }

/* line 160, ../../sass/places/index.sass */
.modal-header { border-bottom: none; }

/* line 163, ../../sass/places/index.sass */
.nav > li > a:hover, .nav > li > a:focus { background-color: rgba(0, 0, 0, 0.5); }

/* line 167, ../../sass/places/index.sass */
.nav > li > a { display: block; padding-left: 8px; padding-right: 8px; padding-top: 15px; position: relative; }

/* line 174, ../../sass/places/index.sass */
.navbar-inverse .navbar-nav > li > a { color: #cccccc; }

/* line 177, ../../sass/places/index.sass */
.navbar { background-color: rgba(0, 0, 0, 0.6); border: none; border-bottom-right-radius: 0px; border-top-right-radius: 0px; z-index: 1; }

/* line 184, ../../sass/places/index.sass */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus { background-color: rgba(0, 0, 0, 0.5); color: #abd402; }

/* line 187, ../../sass/places/index.sass */
.rating { color: darkgrey; margin: 0; padding: 0; }

/* line 192, ../../sass/places/index.sass */
.rating li { list-style-type: none; display: inline-block; padding: 1px; text-align: center; font-weight: bold; }

/* line 199, ../../sass/places/index.sass */
.rating .filled { color: #21568b; }

/* line 202, ../../sass/places/index.sass */
.star { cursor: pointer; }
/* line 205, ../../sass/places/index.sass */
.star.not-allowed { cursor: not-allowed !important; }

/* line 208, ../../sass/places/index.sass */
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th { background-color: rgba(0, 0, 0, 0.7); }

/* line 211, ../../sass/places/index.sass */
.username { font-family: "isocpe"; font-size: 18px; font-weight: bold; margin-right: 20px; padding-top: 10px; }

/* line 221, ../../sass/places/index.sass */
#btn-south { height: 37px; }

/* line 224, ../../sass/places/index.sass */
#categoriesContainer { display: inline-block; padding-top: 5px; padding-right: 5px; }

/* line 231, ../../sass/places/index.sass */
#categoryScroll { overflow-y: auto; overflow-x: hidden; }
/* line 237, ../../sass/places/index.sass */
#categoryScroll > div { margin: 0; width: 100%; }

/* line 241, ../../sass/places/index.sass */
#contactAndAbout, #social { margin-left: 40px; }

/* line 244, ../../sass/places/index.sass */
#eventViewModal { overflow: hidden; }

/* line 247, ../../sass/places/index.sass */
#east, #logo, #north, #south, #west { position: absolute; z-index: 1; }

/* line 251, ../../sass/places/index.sass */
#east { left: 0; top: 90px; }
/* line 258, ../../sass/places/index.sass */
#east div[class="input-group"] { max-width: 350px; }
/* line 261, ../../sass/places/index.sass */
#east input { text-transform: capitalize; }

/* line 264, ../../sass/places/index.sass */
#logo { background-color: #333333; padding: 15px; z-index: 3; }

/* line 269, ../../sass/places/index.sass */
#map { height: 104%; left: 0; top: 0; position: absolute; width: 100%; z-index: 0; }

/* line 277, ../../sass/places/index.sass */
#menu_superior { margin-left: 20px; background-color: rgba(255, 255, 255, 0.9); height: 50px; }

/* line 282, ../../sass/places/index.sass */
#menu_superior_derecha { background-color: rgba(255, 255, 255, 0.9); height: 50px; }

/* line 286, ../../sass/places/index.sass */
#menu_superior_derecha_verde { color: #abd402; font-size: 14px; }

/* line 292, ../../sass/places/index.sass */
#nav-large .icon-minus { color: #428bca; cursor: pointer; }

/* line 296, ../../sass/places/index.sass */
#nav-small { min-height: 20px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
/* line 300, ../../sass/places/index.sass */
#nav-small .icon-plus { font-size: 12px; cursor: pointer; }
/* line 304, ../../sass/places/index.sass */
#nav-small a { padding: 10px; }

/* line 307, ../../sass/places/index.sass */
#north { background-color: rgba(0, 0, 0, 0.6); color: white; padding-left: 12px; padding-right: 12px; padding-bottom: 8px; width: 100%; }
/* line 319, ../../sass/places/index.sass */
#north a { color: white; text-decoration: none; }

/* line 323, ../../sass/places/index.sass */
#rampa { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; border-top: 80px solid #333333; border-left: 2px solid #333333; border-right: 20px solid transparent; height: 80px; margin-left: 305px; margin-top: 0px; padding-right: 20px; position: absolute; width: 10px; z-index: 2; }

/* line 337, ../../sass/places/index.sass */
#rampa-east { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; border-top: 65px solid #333333; border-left: 10px solid #333333; border-right: 12px solid transparent; height: 20px; margin-left: 0px; margin-top: -10px; padding-right: 20px; position: absolute; width: 300px; z-index: 0; }

/* line 350, ../../sass/places/index.sass */
#rampa-south { border-bottom: 36px solid rgba(0, 0, 0, 0.6); border-bottom-width: 37px; height: 37px; border-left: 10px solid rgba(0, 0, 0, 0.6); border-right: 12px solid transparent; height: 20px; margin-left: 0px; margin-top: 0px; padding-right: 20px; position: relative; width: 30px; z-index: 0; margin: 0; }

/* line 365, ../../sass/places/index.sass */
#south { bottom: 0; left: 20%; width: 60%; padding: 0 10px; }

/* line 372, ../../sass/places/index.sass */
#sponsorContainer { margin-left: 10%; min-width: 245px; padding-bottom: 10px; padding-top: 5px; padding-left: 5px; width: 90%; }

/* line 380, ../../sass/places/index.sass */
#view { background: white; height: 50%; left: 25%; position: absolute; top: 20%; width: 50%; z-index: 1; }
/* line 389, ../../sass/places/index.sass */
#view ng-view { display: block; height: 90%; overflow-y: auto; }
/* line 394, ../../sass/places/index.sass */
#view #viewTitle { height: 10%; }

/* line 398, ../../sass/places/index.sass */
#west { padding: 5px 0; right: 0; top: 60px; }
